<!DOCTYPE html>
<html>
  <head>
    <script>
      const onerrorBackup = window.onerror;

      window.onerror = function(msg, url, line, col, error) {
          if (error.constructor.name === "DOMException" && error.message.startsWith("Failed to execute 'replaceState'")) {
              // This is a chrome bug. See https://github.com/hotwired/turbo/issues/536
              // Solution is to navigate to the same page again but without the basic auth credentials.
              window.location.href = window.location.href + " ";
          } else {
              onerror && onerrorBackup(msg, url, line, col, error);
          }
      };
    </script>

    <title>TurboTodos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto px-4">
      <%= yield %>
    </main>
  </body>
</html>
